name: Github Action example workflow
on: push
jobs:
  command:
    name: Exec command
    runs-on: ubuntu-latest
    steps:
      - name: Setup NodeJS
        uses: actions/setup-node@main
        with:
          node-version: 12
      - name: Checkout sources
        uses: actions/checkout@main
      - name: Install dependencies
        run: npm install
      - name: NodeJS command
        uses: hiberbee/template-github-action-nodejs@master
        with:
          command: npm
          arguments: run release
